# Environment
.venv/
.venv311_64/
.env/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data (processed)
data/processed/
data_proc/

# Outputs
outputs/*
!outputs/phi-3/README.md

# Logs
logs/
wandb/

data_proc/
outputs/
