project:
  project_name: llm-lora-finetune
  seed: 42

seed: 42    # add this line at top level

model:
  model_name: microsoft/phi-3-mini-4k-instruct
  load_in_4bit: true
  dtype: auto

data:
  dataset_path: data/raw/mydataset.jsonl
  processed_dir: data_proc
  train_path: data_proc/train
  val_path: data_proc/val
  test_path: data_proc/test
  max_length: 1024
  train_split: 0.8
  val_split: 0.1

lora:
  r: 4
  alpha: 8
  dropout: 0.05
  target_modules:
    - q_proj
    - k_proj
    - v_proj
    - o_proj

training:
  output_dir: outputs/phi-3
  num_train_epochs: 0.2
  per_device_train_batch_size: 1
  per_device_eval_batch_size: 1
  learning_rate: 0.0002
  logging_steps: 50
  save_strategy: "epoch"
  save_total_limit: 1
  evaluation_strategy: "epoch"
  report_to: "wandb"
  run_name: "phi3_lora_mini_rerun"
  fp16: false

evaluation:
  eval_data_dir: data_proc/test
  batch_size: 2
  lora_output_dir: outputs/phi-3
  fp16: false
